/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.cf:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

/******************************************
/* Structure
/*******************************************/

h1 {
  border-bottom: 2px solid #e5e5e5;
  color: #6FA7E8;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 16px;
  margin-top: 60px;
}

h1:before {
  background-color: #6FA7E8;


}

h2 {
  color: #6D757D;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
}

label {
  color: #585858;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

section {
  border-bottom: 2px solid #f1f1f1;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.wrapper {
  margin: 32px auto 0;
  position: relative;
  width: 600px;
}

#actionItems {
  list-style: none;
  margin: 0px;
  padding: 0px;
  padding-bottom: 16px;
}

#actionItems li {
  padding: 16px;
}

#actionItems li:hover {
  background-color: #fafafa;
}

#actionItems li a {
  color: #e5e5e5;
  visibility: hidden;
  float: right;
  padding-left: 16px;
  text-decoration: none;
}

#actionItems li:hover a {
  visibility: visible;
}

#actionItems li .remove-btn:hover {
  color: red;
  cursor: pointer;
}

#actionItems li .edit-btn:hover {
  color: #6FA7E8;
  cursor: pointer;
}

#actionItems li.undo .undo-btn {
  color: #e5e5e5;
  float: none;
  visibility: visible;
}

#actionItems li.undo:hover .undo-btn {
  color: red;
}

#actionInput {
  border: 1px solid #f1f1f1;
  color: #585858;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 48px;
  padding: 16px;
  margin-bottom: 32px;
  width: 100%;
}

#editField {
  padding: 16px;
  width: 100%;
}

#editSubmit {
  display: none;
}

.inactive {
  color: #DDDDDD;
}

.inactive:hover {
  color: #6FA7E8;
}

input[type="checkbox"] {
  margin-right: 8px;
}

li.undo:hover a {
  color: red;
}

.show-completed {
  border-top: 2px solid #f1f1f1;
  color: #e5e5e5;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  font-weight: 400;
  margin: 0px 0px 0px 40px;
  padding-bottom: 60px;
  padding-top: 8px;
  text-decoration: none;
  width: 170px;
}

.show-completed:hover {
  color: #6FA7E8;
}

#submitBtn {
  display: none;
}

