/*
Project Name: Relaxr
Client: Your Client
Author: Peter Taylor-Brown
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 960px;
  margin: auto;
}

article {
  width: 700px;
}

body {  
  background-color: #f0efef; 
}

footer {
  background-color: #121212; 
  display: block;
  height: 350px;
  position: relative;
  width: auto;
}

header {
  background-color: #033048;
  height: 120px;
  position: relative;
}

h2 {
  color: #033048;
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  margin-bottom: 24px;
}

h3 {
  color: #033048;
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 24px
}


hr {
  color: #033048;
  margin: 0 0 40px 0;
  padding: 0px;
}

nav {
  float: right;
  padding-top: 12px;
}

nav li {
  position: relative;
  display: inline-block;
  margin-left: 40px;
}

nav li a {
  color: #f9e42e;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 300;
  text-decoration: none;
}

span > a {
  color: #033048;
  float: right;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 40px;
  position: relative;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.article-container {
/*  border: 1px solid blue;*/
  position: relative;
  width: 700px;
}

.article-container p {
  color: #606161;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  margin: 24px 0 24px 0;
}

.footer-info-container {
  width: 200px;
  position: relative;
  margin: 0 auto;r
}

.footer-copyright {
  color: white;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin-top: 110px;
  position: relative; 
}

.header-container { 
/*  border: 1px solid red;*/
  clear: both;
  margin: 0 auto;
  padding-top: 36px;
  position: relative;
  width: 960px;
}

.logo {
  color: white;
  float: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  font-weight: 800;
}

.logo-yellow {
  color: #f9e42e;
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  padding: 70px 0;
}

.page-container {
 /* border: 1px solid yellow;*/
  display: block;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 70px;
  width: 960px;
}

.primary-container {
 /* border: 1px solid green;*/
  float: left;
  position: relative;
  width: 700px;
}

.sidebar-about {
  color: #033048;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 8px;
}

.sidebar-about-link {
  color: #033048;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: 800;
  line-height: 24px;
  text-decoration: none;
}

.sidebar-ad-unit {
  margin-top: 48px;
}

.sidebar-container {
/*  border: 1px solid red;*/
  float: right;
  position: relative;
  width: 240px;
}

.sidebar-categories {
  margin-bottom: 40px;
}

.sidebar-categories > li {
  margin-bottom: 8px;
}

.sidebar-categories > li a{
  color: #033048;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 300;
  text-decoration: none;
}

.sign-up-button { 
  background-color: #033048;
  border: none;
  border-radius: 4px;
  color: white;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 800;
  height: 60px;
  margin: 0 auto;
  padding: 0 48px 0 48px;
  position: relative;
  top: 32px;
}

.sign-up-section { 
  background-color: #f9e42e;
  height: 120px;
}

.social-logo-container {
  display: block;
  float: left;
  padding-left: 46px;
  position: relative;
}

.social-logo-container li{
  display: inline-block;
}

.social-logo{
  display: inline-block;
  padding-right: 32px;
}























